body {
margin:0;
font-family: "Nonexistent-Font", monospace;
background-color: #ADD8E6;}
h1, h2 {text-align: center;}
h1 {
	color: #050A30;
 font-size: 7vw;
}
p{
	color: #050A30;
	font-family: "EB Garamond";
	font-size: 20px;}

.gridweb {
	margin:20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .gridweb img {
    width: 100%;
    height: auto;
    display: block;
  }
  @media (max-width: 600px) {
    .gridweb {
      grid-template-columns: 1fr; /* Stacks images on smaller screens */
    }
  }

 