
.gallery h1 {
  text-align: center;
}

.gallery-menu {
  text-align: center;
  margin-bottom: 20px;
}

.tab {
  background-color: #296E85;
  border-radius: 15px;
  color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #338BA8;
  color: white;
}

.tab-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.image-container {
	margin-bottom: 20px;
  position: relative;
  width: 30%; /* Controls the size of the image container */
  overflow: hidden; /* Ensures no part of the image spills out of the container */
}

.image-container img {
  width: 100%;
  height: 100%; /* Make the height the same as its container */
  object-fit: cover; /* Ensures the image covers the container fully without distortion */
  transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.1);
}

.image-container .caption {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  padding: 10px 0;
}

.image-container:hover .caption {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .image-container {
    width: 100%;
  }
}





