<footer class="footer">
  <div class="footer-container">
   <div class="footer-section">
      <h3>Contact Me</h3>
      <p>I hope you find what you looking for.</p>
      <p>Email: darkdin95@gmail.com</p>

    </div>
   
  </div>
</footer>